* {
  margin: 0%;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-top: 2%;
  background-color: beige;
}
ul li {
  display: inline-block;
  margin-right: 2rem;
}
ul li a {
  color: brown;
  text-decoration: none;
}
.test {
  margin-left: 2%;
}
